img{
    border-radius: 16px;
}
body{
    background-image: url(../assets/bg.jpg);
    background-repeat: no-repeat;
}
#page{
    background-color: #F0E8C2;
    width: 80%;
    margin: auto;
    padding: 24px;
    border-radius: 24px;
}